h1{
    text-align: center;
    margin-top: 20px;
}
#findid_form{
    text-align: center;
    margin:10px;
    padding:20px;
}
#name{
    width:150px;
    height:20px;
    margin-bottom:10px;
}
#phone{
    width:150px;
    height:20px;
    margin-bottom:10px;
}
#find_id{
    width:150px;
    height:30px;
    margin-top:10px;
}