h1{
    text-align: center;
}
#join_form{
    text-align: center;
    margin-top: 80px;
    border:1px solid #ccc;
    margin:30px;
    padding:100px;
}
#id{
    margin: 5px;
    width:150px;
    height:20px;
}
#password{
    margin: 5px;
    width:180px;
    height:20px;
}
#confirm_password{
    margin: 5px;
    width:180px;
    height:20px;
}
#name{
    margin: 5px;
    width:150px;
    height:20px;
}
#phone{
    margin: 5px;
    width:150px;
    height:20px;
}
#school{
    text-align: center;
    margin: 5px;
    width:150px;
    height:20px;
}
#addr{
    text-align: center;
    margin: 5px;
    width:150px;
    height:20px;
}
#school_btn{
    width:80px;
    height:30px;
}
#submit{
    margin: 20px;
    width:200px;
    height:30px;
}