form{
    margin:10px;
    padding:20px;
    text-align: center;
}
h2{
    text-align: center;
}
#pw,#pw_confirm{
    width:230px;
    height:25px;
    margin-bottom:10px;
}
button{
    margin-left:60px;
    margin-top:30px;
    width:150px;
    height:30px;
}